{#
   Copyright (c) 2023 Mastercard

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 #}

 <script type="text/javascript" src="extension/mastercard/catalog/view/javascript/mgps.js"></script>


    <div id="embed-target"></div>
    <script src="{{ hosted_checkout_js }}"
            data-complete="{{ completeCallback }}"
            data-error="errorCallback"
            data-cancel="cancelCallback"
            data-beforeRedirect="beforeRedirect"
            data-afterRedirect="afterRedirect"
            >
    </script>

    <script>
        function cancelCallback(){
            console.log("Cancelled Order");
        }
    </script>

    <div class="buttons">
        <div class="pull-right">
            {% if checkout_interaction == 'modal' %}
                <script>sessionKeysToClear.push('HostedCheckout_sessionId'); </script>
                <input id="embeded_payment_button" type="button" value="{{ button_confirm }}" class="btn btn-primary" onclick="loadCheckoutLibrary();" />
            {% else %}
                <script> sessionKeysToClear.push('HostedCheckout_embedContainer'); </script>
                <input id="redirect_payment_button" type="button" value="{{ button_confirm }}" class="btn btn-primary" onclick="loadCheckoutLibraryPaymentPage();" />
            {% endif %}
        </div>
    </div>
    <style>
    .d-none{
        display: none !important;
    }
    </style>
    

<script type="text/javascript">
var jsonData = {{ jsonData|raw }};
var checkoutLoaded = false;
function initializeCheckout() {
    setCookie('mgps_sucesss_indicator', jsonData.success_indicator, 5);
    setCookie('mgps_order', jsonData.mgps_order_id, 5);
    setCookie('mgps_OCSESSID', jsonData.OCSESSID, 5);
    setCookie('order_id', jsonData.order_id, 5);
    cleanupBrowserSession();
    Checkout.configure({
        session: {
            id: jsonData.session_id
        }
    });
    checkoutConfigured = true;
}
var hosted_checkout_js = "{{ hosted_checkout_js }}";
var checkoutLoaded = false;
var checkoutConfigured = false;

function loadCheckoutLibrary() {

    clearEmbedTarget();
    checkoutLoaded = false; 
    checkoutConfigured = false; 
    $('#embeded_payment_button').val("Loading...");
        loadScript(hosted_checkout_js, function() {
            initializeCheckout();
                showEmbeddedPage('#embed-target');
                $("#embeded_payment_button").addClass('d-none')
                $('.bubbles').addClass('d-none');
            });
}

function loadCheckoutLibraryPaymentPage() {
    $('#embeded_payment_button').val("Loading...");
    loadScript(hosted_checkout_js, function() {
        initializeCheckout();
        showPaymentPage();
    });
}

function showPaymentPage() {
    if (!checkoutLoaded) {
        console.error('Checkout library not loaded');
        return;
    }
    Checkout.showPaymentPage();
}

function showEmbeddedPage(targetId) {
    if (!checkoutLoaded) {
        console.error('Checkout library not loaded');
        return;
        }
    Checkout.showEmbeddedPage(targetId);
}

function setCookie(name, value, minutesToExpire) {
  const date = new Date();
  date.setTime(date.getTime() + (minutesToExpire * 60 * 1000)); // Calculate the expiration date in milliseconds
  const expires = "expires=" + date.toUTCString();
  document.cookie = name + "=" + value + ";" + expires + ";path=/";
}
  
</script>


